@import '@nativescript/theme/core';
//@import '@nativescript/theme/default';
@tailwind base;
@tailwind components;
@tailwind utilities;

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class


@font-face {
  font-family: 'Montserrat';
  src: url('~app/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~app/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}

Page {
  color: rgba(65, 71, 123, 1);
  font-family: 'Montserrat';
}

Label, Button, TextField {
  color: rgba(65, 71, 123, 1);
  font-family: 'Montserrat';
}